@import "src/scss/_variables";

.LazadaOrder {
  background-color: white;
  position: relative;
  padding: 1rem;
  min-width: 50rem;

  .order-container {
    border: 0.15rem solid $grey900;
    img {
      width: 100%;
    }
  }

  .MuiTypography-h6 {
    font-size: 1.05rem !important;
    line-height: 1.5;
  }

  .MuiTypography-h5 {
    font-size: 1.3rem !important;
  }

  .border-bottom {
    border-bottom: 0.15rem solid;
  }

  .border-right {
    border-right: 0.15rem solid;
  }

  .barcode {
    padding: 0.5rem 0;
  }
}
