@import "src/scss/_variables";

.PrintModal {
  .MuiDialog-paper {
    width: 70rem;
    max-width: 70rem;
    text-align: left;
    padding: 2.5rem;

    @media only screen and (max-width: 374px) {
      padding: 1rem !important;
    }

    .btn-close {
      color: $grey500;
      position: absolute;
      top: -12px;
      right: -12px;
    }

    .title {
      color: $grey700;
      font-size: 1.4rem;
      margin-bottom: 1rem;
      position: relative;
    }

    .print-content {
      max-height: 60vh;
      overflow: auto;
      margin-bottom: 1rem;
      padding: 0 1rem;
    }

    .btn-group {
      display: flex;
      width: 45%;
      align-self: flex-end;
      justify-content: flex-end;
      .btn-cancel {
        background-color: $grey200 !important;
        color: $grey600 !important;
        box-shadow: none !important;
        margin-right: 0.5rem;
      }
    }
  }
}
