@import "src/scss/_variables";

.HomePage {
  .home-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    .title {
      .MuiTypography-h3 {
        color: $grey900 !important;
        text-align: center;
        width: 100%;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 2.2rem;
        margin-bottom: 1rem;
      }
      .MuiButton-root {
        margin-bottom: 1rem;
      }
    }
  }
}
