// Global variables
$primary: #5278ca;
$primaryLight: #1e95da;
$primaryDark: #007abf;
$success: #009c6a;
$danger: #fa6d78;

$grey100: #f5f6f9;
$grey200: #edf2f7;
$grey300: #ececec;
$grey400: #cbd5e0;
$grey500: #a0aec0;
$grey600: #718096;
$grey700: #4a5568;
$grey800: #2d3748;
$grey900: #1a202c;
