@import "src/scss/_variables";

.BulkPrintPage {
  padding-top: 5rem;
  .MuiContainer-root {
    display: flex;
    position: relative;

    .left-container {
      width: 20rem;
      position: fixed;

      .MuiFormGroup-root {
        word-break: break-word;
      }
    }

    .right-container {
      width: calc(100% - 22rem);
      background: white;
      position: absolute;
      right: 0;
    }
  }
}
