@import "src/scss/_variables";

.BulkPrintPage {
  padding-top: 5rem;

  @media print {
    .page-break {
      margin-top: 1rem;
      display: block;
      page-break-before: always;
    }
  }

  .MuiContainer-root {
    // display: flex;
    overflow-x: scroll;
    min-width: 1280px;
    position: relative;

    .left-container {
      width: 20rem;
      position: fixed;

      .MuiFormGroup-root {
        word-break: break-word;
      }
    }

    .right-container {
      width: calc(100% - 22rem);
      min-height: 98vh;
      margin-left: 21rem;
    }

    .no-content-container {
      background-color: white;
    }
  }
}
